.Panel {
    height: 100%;
    background-color: #fff;
    overflow-y: auto;
    .item {
        display: flex;
        font-size: 16px;
        cursor: pointer;
        .item-icon {
            display: flex;
            align-items: center;
            padding: $--item-padding $--icon-padding;
        }
        .item-title {
            display: flex;
            align-items: center;
            padding: $--item-padding $--item-padding $--item-padding 0;
        }
    }
}